/* Functionality Styles ===================================================== */
.gif-sequence {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.gif-sequence.loading {
  pointer-events: none;
}
.gif-sequence.loading .sequence-container .jsgif {
  opacity: 0.5;
}
  .gif-sequence.loading .sequence-container .jsgif:not(:first-child) {
    display: none;
  }

/* Full width styles */
.gif-sequence.full-width {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
  .gif-sequence.full-width .left-section {
    display: none;
  }

/* Active-inactive styles */
.gif-sequence .sequence-container .sequence-gif,
.gif-sequence .caption-container .sequence-caption-container {
  display: none;
}
.gif-sequence .sequence-container .sequence-gif.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}
.gif-sequence .sequence-caption-container.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}
.gif-sequence .selector-container .sequence-selector.active {
  font-weight: bold;
}

/* Default styles */
.gif-sequence .selector-container {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}
.gif-sequence .left-section {
  border-right: 1px solid black;
  padding: 20px;
}
  .gif-sequence .selector-container .sequence-selector {
    white-space: pre;
    cursor: pointer;
    margin-bottom: 5px;
  }
.gif-sequence .right-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
  .gif-sequence .sequence-container {
    width: 100%;
    background: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    cursor: pointer;
  }

  .gif-sequence .progress-bar {
     display: inline-block;
     width: 100%;
     min-height: 10px;
     position: relative;
   }
     .gif-sequence .progress-bar .progress {
       height: 100%;
       float: left;
       position: absolute;
     }
     .gif-sequence .progress-bar .section-area {
       height: 100%;
       float: left;
       cursor: pointer;
     }
       .gif-sequence .progress-bar .section-area.active {
         pointer-events: none;
       }
       .gif-sequence .progress-bar .progress-section-indicator {
         position: absolute;
         min-width: 1px;
         height: 100%;
       }
     .gif-sequence .progress-bar .progress {
       background:  white;
       min-width: 1px;
       height: 100%;
       float: left;
       -webkit-transition: width 0.2s;
       -o-transition: width 0.2s;
       transition: width 0.2s;
     }
  .gif-sequence .caption-and-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10px;
  }
    .gif-sequence .sequence-caption-title {
      margin-bottom: 5px;
    }
    .gif-sequence .caption-and-button-container .play-pause-button {
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-right: 10px;
    }

/* Design Styles ============================================================ */
.gif-sequence {
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.gif-sequence .sequence-container:hover .sequence-gif {
  opacity: 0.8;
}
.gif-sequence .progress-bar {
  background: rgb(40, 40, 40);
  height: 20px;
}
  .gif-sequence .progress-bar .section-area:hover {
    background: rgba(20, 150, 220, 0.2);
  }
  .gif-sequence .progress-bar .section-area.active {
    background: rgba(20, 150, 220, 0.7);
  }
  .gif-sequence .progress-bar .progress-section-indicator {
    background: rgba(20, 150, 220, 1);
    width: 2px;
  }
.gif-sequence .progress-bar .progress {
  background:  white;
  width: 2px;
  margin-right: 1px;
}
.gif-sequence .sequence-caption-title {
  font-weight: bold;
}
